[2022-08-16 14:11] #3137 closed

[2022-08-18 11:05] be-hase opened #3157 "Passing null to Subscriber#onNext, is this not a TCK violation?"
(Sorry, let me ignore the issue template as it may not be a bug.)

In my project, I wrap(deletegate) CoreSubscriber using ReactorHooks for tracing and MDC propagation.
It has a similar implementation to spring sleuth.
https://github.com/spring-cloud/spring-cloud-sleuth/blob/c795675cf93c666c3c13f9bbb9eadbde1f1aa775/spring-cloud-sleuth-instrumentation/src/main/java/org/springframework/cloud/sleuth/i

[2022-08-18 11:10] chemicL commented on #3095
As a matter of fact, the case is different from `reactor.core.publisher.FluxConcatArray`. The code is creating a recursion, for which we don't have a way to overcome. The subscription flow is forming a recursive object hierarchy:

    block (0) -> waitForData (1) -> switchIfEmpty (2) -> defer (3) -> then (4) -> defer (5) -> waitForData (1') -> ...

As `(1)` and `(1')` are different objects, there

[2022-08-18 11:11] #3095 closed

[2022-08-18 12:38] nelapsi13 commented on #3095
StackOverflowError is not a problem (more or less)
the problem is that block() never finishes (i.e. blocks forever)

[2022-08-18 12:53] jnt0r opened #3158 "High performance degradation by instrumentation-type DECORATE_QUEUES"
We had an issue with spring-sleuth context not been propagated to every thread so we switch the instrumentation type to DECORATE_QUEUES which solved this issue in our tests. In production we faced high performance degredation, long response times and failed requests (aborted SocketChannels etc.). The kubernetes pods requested more than 2 to 3 times CPU than the previous version with the default in

[2022-08-18 12:53] chemicL commented on #3095
The reactive chain is unable to terminate `block` on such an occasion, as when a `SOE` happens, the terminal signal can't be delivered to `block`'s subscriber. All in all, JVM `VirtualMachineError`s (https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/VirtualMachineError.html) are not considered recoverable.
Also, please note in the latest version the logging of such erroneous s

[2022-08-18 13:25] nelapsi13 commented on #3095
ok, thanks for clarification

[2022-08-18 18:13] OlegDokuka commented on #3157
@be-hase the problem is with your CoreSubscriber implementation. Once you implement our internal interface, you MUST follow all the internal world rules. Within the project reactor, we have a notion of **fusion** (internal operators optimization). Once `ASYNC` fusion mode is obtained, values it selves stop being propagated, but rather a special notification (`null`) caries information through `onN

[2022-08-18 18:13] #3157 closed

[2022-08-19 00:41] be-hase commented on #3157
Thank you!
Very helpful, I now have a better understanding of reactor.

What you say is very true. I will fix my implementation.

As a result, sorry for asking the question in the Github issue.
Thanks.

[2022-08-19 10:21] OlegDokuka commented on #3158
@jnt0r can you please provide a small isolated application which reflects your environment and demonstrates the mentioned problem?

[2022-08-19 12:10] janvojt opened #3161 "Enabling logging changes the thread on which callable is executed."
Enabling logging on a Mono wrapping a callable with `publishOn` changes the thread the callable executes on.
If logging is enabled, the callable is run on the main thread.
If logging is disabled, the callable is run on the published thread pool.

## Expected Behavior
The callable should run on the main thread regardless of logging.

## Actual Behavior
The thread on which callable is run depends on

[2022-08-20 18:43] OlegDokuka commented on #3106
@bensilvan please see -> https://github.com/reactor/reactor-core/issues/3012#issuecomment-1153598695

[2022-08-21 22:05] almogtavor commented on #3012
@OlegDokuka What does the prefetch value of 0 represent? Can you explain how does this accomplishes the buffer timeout behavior?
Also, when I tried this method, I've got an error of `The receiver is overrun by more signals than expected (bounded queue...)`.
Do you have an idea for why would this happen?

[2022-08-22 05:21] OlegDokuka commented on #3012
0 means concat map does not prefetch extra elements,  so it is exactly 1 window at a time, thus only 1 window is collecting values into a list which is propagated later on into downstream

Feel free to create an issues if you have a reproducer

[2022-08-22 09:37] OlegDokuka commented on #3161
that is expected behavior. publishOn has optimizations that eliminate redundancy such as allocating a queue or redundant intermediate operator when the source is a scalar value or a single element function. In such a scenario, `publishOn` is transformed into a simple `subscribeOnValue`.

This behavior is disabled when there are intermediate operators between the source and `publishOn` since the ex

[2022-08-22 09:37] #3161 closed

[2022-08-23 18:12] plcarmel opened #3164 "Flux.cache(0) doesn't replay the terminal signal"
Flux.cache(0) doesn't replay the terminal signal for late subscribers, contrary to what is stated in the documentation.

Here is an example:
[code]

No complete signal and thus no "hello world".

Tested with 3.4.17 and 3.4.22

Documentation says:
"Note that cache(0) will only cache the terminal signal without expiration. "

Which I understand as meaning that the signal will be replayed for late su

[2022-08-25 07:05] swanandvk opened #3166 "Reactor Test - expectNextMatches failure should give better error message with exact failure between expected:actual value comparisons"
If the Publisher returns unexpected value then

[code]
gives failure with message

 `expectation "expectNextMatchesFailed" (expected: onNext(); actual: onComplete()  )`

**Suggestion**
- This error message should also include the expected and actual values used for comparison

## Motivation

## Desired solution

## Considered alternatives

## Additional context

[2022-08-25 08:52] chemicL commented on #3166
As there are missing concrete elements in the provided example, I created some samples. Consider the following

    StepVerifier.create(Flux.<Integer>just())
		            .expectNextMatches(i -> i == 1)
		            .verifyComplete();

First, `expectNextMatches` accepts a `Predicate`. The assertion does not have insight into the values within the predicate. It even doesn't evaluate the predicate

[2022-08-25 08:52] #3166 closed

[2022-08-25 09:27] chemicL commented on #3068
@cavallium can you be more specific here?:

Do you mean the `publishOn` and `subscribeOn` operators? In their case, to my understanding, the `dispose()` method goes to a particular worker (`Scheduler#createWorker()`). The behavior of `dispose()` in case of `Scheduler.Worker` is not the same as the actual `Scheduler#dispose()` and it's mostly releasing tasks and freeing up resources dedicated to it

[2022-08-25 11:07] cavallium commented on #3068
I've tested it, you are right. It doesn't interrupt anything and doesn't call dispose. thanks

[2022-08-25 12:22] chemicL commented on #3164
Thank you for the report. We are aware of the issue and it might require some significant design decisions to fix. Unfortunately, for the time being, I have no immediate workaround for the situation where the source terminates.

[2022-08-25 18:46] alexismanin opened #3170 "Console logger factory concurrency and potential memory leak"
I"ve encountered the following error while calling Flux.log after setting logging to console logger :

[code]

By inspecting [console logger factory](https://github.com/reactor/reactor-core/blob/8a31886e61eb060384a02d2ffd24906d16c9be17/reactor-core/src/main/java/reactor/util/Loggers.java#L622), I've seen that no synchronization happens, and also that loggers are stored in an internal static HashMa

[2022-08-25 19:29] plcarmel commented on #3164
I am not an expert, but to me, what needs to be done is quite simple.

Obviously, FluxPublish should not be used for cache(0). The comment in Flux.cache(int history) is misleading at best. ``replay(0)`` makes a lot of sense, because it produces (or not) something that is valuable in itself: the terminal signal.

[code]

That leaves two options:

1. Make FluxReplay work for history = 0
2. Create a

[2022-08-25 19:50] plcarmel commented on #3164
The request rate (if it is the right term) of ``FluxReplay`` is equal to the history size, but I am not really sure I understand why...

If ``replay(history)`` is supposed to transform a cold flux into a hot flux, couldn't it just send a ``request(unbounded)`` signal once and be done with it ?

[2022-08-26 07:39] aphalke commented on #2208
@simonbasle , what is alternative for this? And may I know reason for removal?

[2022-08-26 09:06] chemicL commented on #2208
@aphalke please consult the documentation https://projectreactor.io/docs/core/release/reference/#processors
Also, if you're interested in digging deeper, the javadoc of both mentioned classes contain reference to https://github.com/reactor/reactor-core/issues/2431 which contains useful links and discussion.

[2022-08-26 09:20] simonbasle commented on #2208
see also #1051 for a rationale behind the deprecation of these two particular processors.

direct and long term alternative if you're using the processors to connect to an existing Flux/Publisher source is also documented there:

 - WQP: `source.parallel().runOn(scheduler)`
 - TP: `source.publishOn(scheduler)`

### more context:

in the 3.3.x and 3.4.x line, these two classes have been copied to t

[2022-08-26 12:03] chemicL commented on #3166
The predicate is evaluated when applicable - in case of expectation of an `onNext()`, when a terminal signal (`onComplete()` or `onError()`) is delivered instead, it makes no sense to evaluate the predicate, as there is no item to evaluate against the predicate. The expectation fails due to signal type mismatch. Let me know if I misunderstood your suggestion though.

[2022-08-29 06:37] jnt0r commented on #3158
Hi @OlegDokuka, currently I don't have time to create a sample application. It's basically a Spring Cloud Gateway application with two explicit thread jumps (as described in my initial description) where we switched the instrumentation-type from default to decorate_on_queues which lead to reproducible huge performance impacts (CPU usage, response time, ...).
We think the implementation using a Lin

[2022-08-29 08:21] simonbasle commented on #3170
I don't expect 99% of application to ever fallback from SL4J, but the console logger factory is still that primary fallback. I would avoid a "once logger per call" situation as it is too much of a departure from the usual situation with logger factories so it would not follow the principle of least surprise.

so I would turn that into a `ConcurrentHashMap`.

and indeed, there should be a documenta

[2022-08-29 10:38] alexismanin commented on #3170
I agree. I'll try to provide a PR in the next few days.

P.S : sorry for not matching issue report templates. I still wonder how I missed that.

[2022-08-29 12:47] chemicL commented on #3158
We'll keep the issue in the backlog, if you find the time to prepare a reproducer, we'd be happy to have a look and profile.

[2022-08-29 14:02] #2057 closed

[2022-08-29 14:14] chemicL commented on #3164
Thanks for the suggestions @plcarmel. We had a bit of a discussion around this problem and the background of the current state of affairs. It looks like we can try to incorporate your suggestions and make this case work as expected. I'll experiment and try to implement it.
Can you elaborate a bit on the last comment? From my understanding the requests to the upstream will depend on the replay hist

[2022-08-29 15:49] chemicL opened #3173 "API for graceful disposal in Disposable"
## Motivation
`Disposable` interface defines the `void dispose()` method, which is of eager nature and in most cases assumes non graceful, forceful release of underlying resources. There are cases where such an attempt is not desired. Other projects, like reactor-netty, or rsocket-java, have come up with their own abstractions for disposing resources related to connection and request management. I

[2022-08-29 15:50] #2041 closed

[2022-08-30 01:25] plcarmel commented on #3164
No problem @chemicL, thank you for taking the time to address this.

Concerning ``request(unbounded)``, you are right and I am clearly still struggling at mastering back-pressure concepts.

The problem is that I was testing ``FluxReplay`` with one subscriber that cancelled its subscription after a while and I saw that ``FluxReplay`` kept asking for data in chunks of "historySize" size and I was li

[2022-08-30 19:00] plcarmel opened #3176 "Add an operator to compute the difference between two sorted fluxes"
Add an operator to compute the difference between two sorted fluxes, just like mergeComparingWith computes the union of two fluxes.

It could be called ``diffComparingWith``.

## Motivation
Were I work, we already have an implementation of this that computes the difference between to fluxes we don't necessarily want to iterate to the end.

I'd like to move that out of our codebase though, to make

[2022-08-31 07:58] simonbasle commented on #3176
thanks for the suggestion @plcarmel. I'm a bit cautious about that one.
how complex is your implementation?

I don't think this is a good candidate for a reactor-core level operator, which should be generic enough that it adapts to all sorts of corner cases. my gut feeling is that a generically adaptable "diff between 2 fluxes" algorithm is going to be incredibly complex, and a heavy load to maint

[2022-08-31 14:28] pmaria opened #3177 "Apparent memory leak in pipeline combining flatMaps ParallelFlux and map to same object type"
## Expected Behavior
I'm running a pipeline that potentially processes a large amount of data from different types of sources to a single type of object. The pipeline makes use of several `flatMap`s then runs a computationally heavy part in parallel using `ParallelFlux`. In the end the resulting items in the `Flux` will be either written to some `OutputStream` or processed further using `doOnNext`

[2022-08-31 15:08] plcarmel commented on #3176
Obviously, the devil will be in the details, but right now the implementation is quite simple.

We use a prefetch of 1 when we need more data, which simplifies things a lot.

Let's say we want to compute ``f = a - b`` where ``f``, ``a`` and ``b`` are publishers, here is the algorithm:

---
**``f.subscribe(s)``**
Standard eager subscription pattern.

When ``f`` is subscribed to using subscriber ``s

[2022-08-31 15:10] plcarmel commented on #3176
Here is our implementation:

[code]

[2022-08-31 19:08] maxim-bandurko-lsvt opened #3178 "reactor-core-js project to re-open"
This issue is kind off topic for Reactor Core Java, but there are no way to post it to https://github.com/spring-attic/reactor-core-js as those repository is archived.

@simonbasle  I have a very draft version of Reactor Core built in TypeScript (oriented for browser) that has exact copy of Java version logic (basically, taking .java file and adopting the code to TypeScript/JavaScript). The goal w

[2022-08-31 19:28] maxim-bandurko-lsvt commented on #3178
Just add, as an example, the code from FluxArray.java converted to TypeScript.
Btw, ping @OlegDokuka , as for handmade RSocket Flowable alternative.

[code]

[2022-08-31 19:55] OlegDokuka commented on #3178
Hi @maxim-bandurko-lsvt.

I'm very interested in that. However, the way reactor is implemented (builder pattern) is not the best approach to go, as it was already demonstrated by rxjs and rxpy `.pipe` approach.

Nevertheless, talking from rsocket-js side - we were planning to add an MVP `.pipe` like version of reactive-streams based library for rsocket, where one can write and add their own operat

[2022-08-31 20:57] maxim-bandurko-lsvt commented on #3178
Hi @OlegDokuka

I see. Well, even draft version that I have right now is not really tiny... It has whole builder process that Java Reactor has, but not all operators yet added (only `just`, `create`, `fromArray`, `empty`, `share`, `map`). And it uses light version of Java JDK library written in JS (it also uses Java source converted to TypeScript code (like Collection, List, Consumer, Supplier, St

[2022-09-01 12:49] simonbasle commented on #3176
thanks for providing the details @plcarmel. this could help other people with a similar use case and for whom the compromise of using a FluxSink + BaseSubscriber is acceptable.

I maintain my previous assessment that we're not ready to introduce such an operator in the core API and will close this issue for now.

[2022-09-01 12:49] #3176 closed

[2022-09-05 12:02] 62mkv opened #3181 "allow to customize value comparison for "StepVerifier.expectNext""
## Motivation

Let's say we have a test suite along the following lines:
- an object is created, one of the fields is initialized with `Instant.now()`, saved into variable `expected`
- object is persisted into db
- object is read from the db (with `r2dbc`),
- compared with `expected` using `StepVerifier...expectNext`

Sometimes, there will be sub-millisecond discrepancy between value that is store

[2022-09-05 12:32] OlegDokuka commented on #3177
@pmaria did you check the memory damp? Are any specific objects leaked to be referenced here?

[2022-09-05 17:06] pmaria commented on #3177
@OlegDokuka yes, it is the `Pair` object that leaks. I can try to post more detail tomorrow, if necessary.

[2022-09-06 15:19] Fearsin opened #3182 "Not decrement BoundedState MARK_COUNT if running task is rejected"
Sorry for my English
## Expected Behavior
In the BoundedElasticScheduler, after an overflow and an error occur RejectedExecutionException, the thread in which the error occurred will remain executable indefinitely.

## Actual Behavior
BoundedState no decrement MARK_COUNT (Not disposed), if scheduler reject task.

## Steps to Reproduce

[code]

## Possible Solution

Need dispose picked BoundedState

[2022-09-07 17:17] haraldpusch opened #3184 "Operator takeUntilOther emits cancel when main flux completes"
When using .takeUntilOther to interrupt the subscription to a publisher, I expect the main publisher to be cancelled, if the _other_ emits a value (that works as expected).
However, when the main publisher _completes_, the `doOnCancel` is called on the main publisher as well (that is unexpected).

This could be a documentation issue, because I couldn't find anything about this case in the document

[2022-09-07 18:06] ostarling commented on #2065
It's a pity to see how fair criticism is being brushed off by the dev team. Our team was considering Reactor amongst other RX frameworks, but the `Mono` design is too dangerous - because of `Mono.empty` literally every `flatMap` needs a special treatment, otherwise it's a ticking bomb.

[2022-09-09 18:07] maxim-bandurko-lsvt commented on #3178
Hi @OlegDokuka

I've created of small test demo of what I have so far:
https://jsfiddle.net/maximbandurko/7ftn3608/16/

It some times dumps debug information at console, so never mind on this. So it looks like not so "very draft", as core classes already there, and left to add more operators.

Idea of this is to just not invent "new vehicle", as Java Reactor Core already has logic and code develop

[2022-09-09 18:22] maxim-bandurko-lsvt commented on #3178
@OlegDokuka  Forgot to trace values in code, so updated the demo link to: https://jsfiddle.net/maximbandurko/7ftn3608/18/

[2022-09-13 06:31] pmaria commented on #3177
@OlegDokuka let me know if any more input is required

[2022-09-14 20:39] OlegDokuka opened #3191 "Review all prefetch aware operators for onDiscard support"
List of i

- [x] FluxZip / MonoZip
- [ ] FluxMergeSequential

[2022-09-15 13:03] OlegDokuka commented on #3178
@maxim-bandurko-lsvt can you please create an issue in rsocket-js issue tracker with a similar title?

[2022-09-15 15:01] maxim-bandurko-lsvt commented on #3178
@OlegDokuka Sure, np.

[2022-09-16 08:34] OlegDokuka commented on #3181
@62mkv for not we will reject that request since as I mentioned it does not add missing functionality and has an alternative solution. We will reevaluate this if we will see more similar request.

Cheers

[2022-09-16 08:34] #3181 closed

[2022-09-16 14:59] MOHAMEDSAMEEM77 opened #3195 "Our Kafka Reactive Consumer Run into Exponential BackOFF In production and solves only on restarting the pods"
Sharing the Reactive  Functions and their ErrorHandling Systems Taken

application.yml :
        verifyxyz-in-0:
          destination: xyz_verify
          group: data-here
          contentType: application/json
          consumer:
            autoCommitOffset: true
            autoCommitOnError: true
            maxAttempts: 1
         xyz-data-verify:
          destination: xyz_verify

[2022-09-16 15:00] MOHAMEDSAMEEM77 commented on #3195
Even after tweaking the settings we run into kafka consumer exponential backofff , and had to restart the kubernets cluster to fix the consumers

[2022-09-16 15:07] MOHAMEDSAMEEM77 commented on #3195
<img width="1132" alt="image" src="https://user-images.githubusercontent.com/42725415/190671067-d7fad0ad-cfdf-4782-b85b-748b7b9fecc8.png">
this is how we get  exponetital backoff

[2022-09-16 15:08] MOHAMEDSAMEEM77 commented on #3195
@OlegDokuka  can u look into this

[2022-09-19 10:26] OlegDokuka commented on #3178
@maxim-bandurko-lsvt closing this ticket here while still keeping opening the one in rsocket-js.
As we discussed during the call, it will be impossible for us to have that project under reactor org due to corporate policy and restrictions.

[2022-09-19 10:26] #3178 closed

[2022-09-20 03:46] yangyxiao opened #3196 "retryOnNext maybe not next others; we found retry same server many a time"
sames like retry next still excute  reactiveLoadBalancer.choose()  choose on server   may  retry same server many a time

<img width="894" alt="image" src="https://user-images.githubusercontent.com/24884445/191162795-ba91d74d-9240-4664-afee-16a1751b7478.png">

<img width="1054" alt="image" src="https://user-images.githubusercontent.com/24884445/191162684-47546610-4012-419d-9bf4-e79d2d7329fb.png">

[2022-09-20 06:45] chemicL commented on #3196
It seems the issue is regarding https://github.com/PlaytikaOSS/feign-reactive. Please report the issue there if it's not specific to reactor-core. The internal logic of the `getRetry(request)` is responsible for deciding when a retry should happen, so it seems the issue is a question/bug report for feign-reactive. If still you think reactor-core is at fault, please provide an isolated reproducer.

[2022-09-20 06:45] #3196 closed

[2022-09-20 08:40] chemicL commented on #3173
`Scheduler` restarts make it harder to implement having `onDispose()`. We should consider imposing a contract there to disallow restarts.

[2022-09-20 08:52] chemicL commented on #3184
@haraldpusch would you consider contributing a PR for this as it seems you have an idea where the fix can go?

[2022-09-20 11:35] chemicL commented on #3184
To my understanding, the current behaviour violates rule 6 of RS spec for Publisher: https://github.com/reactive-streams/reactive-streams-jvm#1-publisher-code as it handles a cancellation signal after a terminal signal. This is in contrast with rule 7 of RS spec for Subscription: https://github.com/reactive-streams/reactive-streams-jvm#3-subscription-code.

For the second point, I think it's a bug

[2022-09-20 11:56] simonbasle commented on #3184
@chemicL @haraldpusch yeah that's a fair assessment. we're in a gray area, but I don't think anybody should rely on this particular behavior in `takeUntilOther`.

regarding the Reactive Streams spec, the operator can basically be considered a bit overzealous in its propagation of a `cancel()` signal. it is not usually a problem because per rule [`3.7`](https://github.com/reactive-streams/reactive-

[2022-09-20 12:24] #3182 closed

[2022-09-20 14:29] haraldpusch commented on #3184
Thanks for the Feedback! I'll look into a possible fix, but it will probably take a couple days, until I have the time for this.

[2022-09-20 20:08] cosminnicula opened #3197 "limitRate() gets request unbounded when called before log()"
When limitRate() is called before log(), the request gets unbounded:

[code]

When called after log(), the request is correctly bounded:

[code]

## Expected Behavior

The request should be bounded even when I use limitRate() before log().

## Actual Behavior

The request is not bounded when I use limitRate() before log().

## Steps to Reproduce

See above.

## Possible Solution

N/A

## Your Envi

[2022-09-21 09:48] simonbasle commented on #3197
This is expected and actually demonstrates that `limitRate` works: the request signal flows from bottom to top, so in order to see what `limitRate` did request to its parent, you have to place `log()` _before_ it.

In your first snippet, `log` merely shows the request made by the downstream subscriber (which I assume is a plain `.subscribe()` which default to an unbounded initial request).

[2022-09-21 09:48] #3197 closed

[2022-09-21 10:33] cosminnicula commented on #3197
It makes more sense now. Thank you, Simon!

[2022-09-23 12:48] alopukhov opened #3199 "Reactor core primitives Flux#using, Flux#usingWhen, Flux#fromIterable should be GC friendly to prevent memory leak"
## Expected Behavior

I have quite complicated flux "pipe" that uses "large" (~8MB) memory buffers and Iterables which references those buffers. To be more specific I reads avro files *from memory* using https://avro.apache.org/docs/current/api/java/org/apache/avro/file/DataFileStream.html and adapts it to Flux with `Flux#fromIterable`
I wrapped creation of `DataFileStream` in `Flux#using` which t

[2022-09-23 13:43] alexismanin commented on #897
Is there a roadmap somewhere that document future actions/timeline for java 17 migration and jigsaw migration ?

Does Spring framework 6 release affects project reactor decisions on the matter ?

Apart from Jigsaw modules, I am interested to know if (or when) reactor project will require Java 17 source compatibility. Is that planned already ?

[2022-09-26 02:23] BukkaRamesh1 commented on #375
@BerlinAdam87   I upgraded spring boot version from 1.0x to 2.0x my eventbus configuration class contains reactor.Environment, reactor.core.Dispatcher, reactor.core.config.DispatcherType those are missing unable to find any references

[2022-09-26 02:36] RameshBJava commented on #375
@BerlinAdam87   I upgraded spring boot version from 1.0x to 2.0x and my eventbus configuration class contains reactor.Environment, reactor.core.Dispatcher, reactor.core.config.DispatcherType those are missing unable to find any references docs at projectreactor.io can you suggest me how you upgraded them..?

[2022-09-26 02:39] chaoyoung opened #3201 "Scheduler worker in group main failed with an uncaught exception: java.lang.StackOverflowError: null"
[code]

## Expected Behavior
run normally

## Actual Behavior
StackOverflowError: null

## Steps to Reproduce

## Possible Solution

## Your Environment

* Reactor version(s) used: 3.3.17.RELEASE
* Other relevant libraries versions (eg. `netty`, ...): reactor-netty:0.9.20.RELEASE, rsocket-core:1.0.5, spring-boot:2.3.12.RELEASE
* JVM version (`java -version`): oracle jdk 1.8.201
* OS and version (e

[2022-09-26 03:00] He-Pin commented on #3201
@chaoyoung attach a reproducer?

[2022-09-26 08:25] simonbasle commented on #3201
we'll need some reproducer in order to isolate the root cause of this issue.

 - are you using any hooks ? (in `Hooks`, `Schedulers`...)
 - are you using `doOnDiscard`?
 - are you using the `RetrySpec` or `RetryBackoffSpec`?

[2022-09-26 08:28] simonbasle commented on #3201
(also please note that Reactor 3.3.x has reached End of Life and is not supported since October 2021)

[2022-09-26 08:32] chemicL opened #3202 "Consider more specific contract around Scheduler#start()"
The inner workings of some `Scheduler#start()` consider the possibility to `dispose()` and then `start()` the same instance again. There are a few issues due to it:
* More complex implementations around possibility of concurrent calls.
* No consistency - some `Scheduler`s allow restarts, while others don't.
* API evolution is more difficult - the possibility of a restart makes reasoning around `di

[2022-09-26 09:36] simonbasle commented on #897
As stated above, while we initially thought we'd take the Spring 6 release as an opportunity to bump our Java baseline as well, this was rolled back.

Reactor isn't Spring, and for a library as low level as it is, there still isn't much leeway in dropping Java 8 support.

I now don't expect that such a major change will even happen in the next few years, tbh.

[2022-09-26 10:23] simonbasle commented on #3121
@ScottButler87 I can try to replace the `possibly re-evaluate current onNext` part with a recursive call to `onExpectation` since IIRC this should only happen once, when the `consumeWhile` stops matching.

can you provide a unit test that triggers the issue? it would help easily validate the change.

[2022-09-26 12:23] alexismanin commented on #897
It would be great to have just a document or an issue starting to list / plan efforts in this regard, even if it is greatly incomplete. Even if the task is postponed to reactor 4 in a few years ;-)

As closing thoughts, I will give my opinion about the required effort for migration. I see two separate tasks, which require very different amount of work :

 - Setting Java 17 as minimal required vers

[2022-09-28 11:51] JCass149 opened #3206 "Cannot count Flux<Void>"
The Flux `count()` method returns 0 when counting the number of values emitted by a Flux of type `Flux<Void>`.

I'm not sure if this is a bug or the documentation need clarifying. The `size()` method for `List<Void>` for example does not return 0.

## Expected Behavior
The Flux `count()` method to return the number of values emitted by a Flux even for type `Flux<Void>`.

## Actual Behavior
The Flu

[2022-09-28 20:11] He-Pin commented on #3206
Make sense, only flux.empty can retuen 0

[2022-10-03 08:46] #3164 closed

[2022-10-03 08:52] chemicL commented on #3164
@plcarmel please have a look at the latest 3.4.x snapshot and test with your use case. Feedback is welcome. The implementation resides in `FluxPublish` instead of `FluxReplay` as the latter is based around buffers - the buffer size instructs the prefetch size used in `request(n)`. For `0` a buffer is unnecessary, that case is more similar to `FluxPublish`.

[2022-10-03 12:53] nathankooij opened #3210 "BlockHound flags blocking `dispose` call"
We have a test involving a `Flux#bufferTimeout` which in certain scenarios can result in BlockHound flagging the internal [dispose call of the timer](https://github.com/reactor/reactor-core/blob/0d40eb127b5a062cdfacd6c5fd2d4874d694309e/reactor-core/src/main/java/reactor/core/publisher/FluxBufferTimeout.java#L275) used by that operator (when the batch size limit of the operator is hit). This can ha

[2022-10-03 14:04] mkluzacek opened #3211 "Buffer timeout with HashSet does not follow the max size parameter"
Hi when using the bufferTimeout with HashSet the function actually counts the "on next triggers" instead of checking the size of the buffer causing it to emit a partial buffer when distinct values are present.

We are reading infinite stream of RabbitMQ messages and looking for a way to easily filter duplicates. We could just buffer it and then filter it manually but thats not really optimal.

Not

[2022-10-03 22:49] sfc-gh-aramarathinam opened #3212 "Uncontrolled Recursion causing StackOverflowError"
StackOverflowError. Uncontrolled recursion in reactor.core.publisher.FluxOnAssembly$OnAssemblyException.findPathToLeaves()

Error Stack:
[java.lang.Iterable.forEach():74
reactor.core.publisher.FluxOnAssembly$OnAssemblyException.findPathToLeaves():433
reactor.core.publisher.FluxOnAssembly$OnAssemblyException.lambda$findPathToLeaves$1():433
java.lang.Iterable.forEach():75
reactor.core.publisher.Flux

[2022-10-04 07:46] simonbasle commented on #3210
Happy to accept a PR for the suggested exclusion 👍 do target the `3.4.x` branch please.

[2022-10-04 09:07] nathankooij commented on #3210
Alright, expect a PR soon. 👍

[2022-10-04 11:44] chemicL commented on #3212
Thank you for the report, can you provide a reproducer to help better understand the circumstances when this happens?

[2022-10-04 12:29] chemicL commented on #3211
Actually, I'm not sure whether this would work as expected either with the way you described it. With the case you provided, the implementation would yield:

    Result: [1,2,3,4,5,6]
    Result: [6] // caused by timeout or followed by other values (possibly duplicates of values present in the previous buffers)

As you can see, the way the operator works is by instantiating a new collection via th

[2022-10-04 12:29] #3211 closed

[2022-10-04 14:21] plcarmel commented on #3164
Thank you @chemicL, that's awesome ! Yes, I think having the implementation in `FluxPublish` was the way to go after all. I just tested it and it works well.

And thank you for the caveat in your commit message. It would be nice if it could make its way in the documentation (warning: this case is not implemented yet ...).

From the commit message:

[2022-10-04 15:01] simonbasle opened #3214 "avoid false positive test of reactor-core-micrometer observation listener"
Seen during separate test run:
[code]

First order of fixing is that this doesn't trip the JUnit test, as the exception is propagated to a separate thread's uncaughExceptionHandler. This is likely to hide an actual issue...

[2022-10-05 02:43] ScottButler87 commented on #3121
This test class should reproduce the issue if it's not been fixed

This can just be copy-pasted into the `./reactor-core/reactor-test/src/test/java/reactor/test` folder and should run

[code]

[2022-10-05 07:09] chemicL commented on #3164
@plcarmel would you like to submit a PR with updates to the javadoc so it reflects what you'd expect to read? I guess I wouldn't do a better job at it than a conscious user :)

[2022-10-05 09:01] qwwdfsad commented on #3117
Hi, what is the issue we can keep track of regarding changes in 3.5?

[2022-10-05 14:29] OlegDokuka commented on #3117
@qwwdfsad check that one https://github.com/reactor/reactor-core/issues/3120

[2022-10-05 14:59] #3121 closed

[2022-10-05 15:47] qwwdfsad commented on #3117
Thanks!

[2022-10-06 08:54] #3210 closed

[2022-10-06 08:55] chemicL commented on #3210
Thank you for the contribution @nathankooij 🚀

[2022-10-06 09:35] chemicL opened #3216 "Move RaceTestUtils#race() uses to JCStress"
JCStress is more flexible than `RaceTestUtils` utility, internal to reactor-core.

There are some concurrency stress tests hidden in integration tests. We should move them to JCStress tests.

The following list can be updated gradually:

- [ ] ReactorBlockHoundIntegrationTest#shouldNotReportSchedulerScheduledFutureTask
- [ ] ReactorBlockHoundIntegrationTest#shouldNotReportWorkerScheduledFutureTask

[2022-10-06 09:47] jnt0r commented on #3158
We figured out that it was more of a documentation missmatch between reactor-core and spring cloud gateway. The defaults for the instrumentation-type differ because spring cloud gateway overrides the default to manual. That makes it clear why we faced such a huge performance impact by switching to decorate_queues.
We thought we switched from decorate_on_each to decorate_queues but we actually swit

[2022-10-06 10:10] chemicL commented on #3158
Thank you for following up. That makes sense. I think we can consider closing the issue then?

[2022-10-06 14:31] jnt0r commented on #3158
Yes we can close the issue. I will suggest to point out the differences in
the spring cloud gateway documentation more clearly.

Dariusz Jędrzejczyk ***@***.***> schrieb am Do., 6. Okt.
2022, 12:10:

[2022-10-06 20:08] #3158 closed

[2022-10-07 08:11] chemicL commented on #3158
@jnt0r please go ahead and file a report in https://github.com/spring-cloud/spring-cloud-gateway/issues then, thanks. I see @OlegDokuka already closed this issue.

[2022-10-07 14:17] simonbasle commented on #3214
After I amended the test to make sure it fails if that exception is thrown, @marcingrzejszczak and I investigated a bit to understand why there was apparent pollution when running with Brave. It seems there's no fault of Reactor's implementation, but Brave by default uses `InheritableThreadLocal`s.  Each new Thread inherits the root span, and that's what gets restored at the end.

Since we don't u

[2022-10-09 14:44] trajano opened #3223 "Provide .doOnNext(BiConsumer<? super T, ContextView> onNext)"
## Motivation

Rather than doing this to support [updating context on call chain](https://stackoverflow.com/a/69906168/242042).
[code]

It would be nice if doOnNext can get the signal.

## Desired solution

replace the pattern with

[code]

This can be extended to support

[code]
So we can simplify it even
[code]

Another one that can chain from that is

[code]

So we can have

[code]

## Consider

[2022-10-10 08:56] #3214 closed

[2022-10-10 10:40] #3223 closed

[2022-10-10 12:05] #3184 closed

[2022-10-11 03:37] zhou-hao opened #3227 "MonoSubscriber.discard Performance issues ?"
<img width="779" alt="image" src="https://user-images.githubusercontent.com/7791838/194991064-ea6c5845-223e-4a18-8c5c-a0dda8164b36.png">

<img width="585" alt="image" src="https://user-images.githubusercontent.com/7791838/194991129-612c9e3d-f9b8-44f5-b302-93a6c4689f1e.png">

do not call  `Operators.onDiscard` when the `v` is null ?

[2022-10-11 06:56] OlegDokuka commented on #3227
probably it can be `onDiscard` optimization since now it is

[code]

but could be

[code]

[2022-10-11 07:03] OlegDokuka commented on #2103
@simonbasle @chemicL I think it is a good oportunity to deprecate Operators.onNextDropped for 3.5.0 while making it private in 3.6

[2022-10-11 07:42] zhou-hao commented on #3227
emmm, I think `actual.currentContext()` is the cause of the problem ?

[2022-10-11 08:33] #3108 closed

[2022-10-11 09:20] OlegDokuka commented on #3227
@zhou-hao that call is inevitable but we can avoid it if we check for null. Alternatively we can cache context within every operator

[2022-10-11 09:33] zhou-hao commented on #3227
the method `Operators.MonoSubscriber#discard` should check for null ?

[code]

[2022-10-11 14:36] plcarmel commented on #3164
Slowly looking into this.

[2022-10-12 23:24] sfc-gh-aramarathinam commented on #3212
It's not clear how we repro this yet. Saw this error in the logs.

[2022-10-13 09:43] simonbasle commented on #3149
# (4) Implicit restoration support in a couple of selected operators

Focusing eg. on `tap` and `handle` could be a way to offer 0-config option.

Explored in #3180

### Caveat
Very limited set of operators supporting this: how to communicate to the users that no, we won't add implicit support into more operators. (this is something that comes up regularly with the context-exposing variants: "can

[2022-10-17 13:14] plcarmel commented on #3164
@chemicL, couldn't `cache(0,ttl)` simply return `cache(0)` ? If we remember only the terminal signal, the `ttl` becomes irrelevant.

I could create a new ticket for this, and an associated PR. That would be an easy first code contribution for me.

[2022-10-17 13:46] chemicL commented on #3164
That sounds like a good idea. It still does not honour the TTL as other cases of non-zero history, which would reset themselves after the TTL. But it is an improvement to the current fallback to plain `FluxPublish`, so please go ahead with opening an issue and providing a PR and that can drive a further discussion if necessary. Please do remember also to support the `replay(...)` operator, which i

[2022-10-17 18:47] plcarmel commented on #3164
`cache(Queues.SMALL_BUFFER_SIZE, ttl).cache(0)` ?

That way, we will be honouring the TTL _and_ we will cache only the terminal signal.

For replay:
`cache(Queues.SMALL_BUFFER_SIZE, ttl).replay(0)`

[2022-10-17 19:03] plcarmel commented on #3164
The fetching behaviour would be different though (than with only `FluxPublish`). Using FluxReplay directly, for `cache(Queues.SMALL_BUFFER_SIZE, ttl)`, might give enough flexibility to achieve the same fetching behaviour. I will be looking into this.

[2022-10-17 19:12] plcarmel commented on #3164
Ugh, please don't comment on this, I don't think it would work. I will do my homework and test my things first.

[2022-10-17 20:50] benwiles1 opened #3235 "`Mono.fromCompletionStage` behaves differently from the documentation"
## Documentation Issue
`Mono.fromCompletionStage` is documented to not cancel the future, but in pull request #3146 it was updated to do so.

## Additional context
I was previously relying on the future not being cancelled, what is the recommended way to to get that behavior back?

[2022-10-19 06:41] PMacho opened #3239 "`MonoSubscriber` based source cause performance degradation with `GroupedFlux` in case of fusion"
## Expected Behavior

Side-effects are expected to decrease performance.

## Actual Behavior

I've however spottet a case where adding a side-effect repeatably increases performance by a factor of three.

## Steps to Reproduce

[code]

## Possible Solution

Was guessing that might be due to altered requesting behaviour?!

## Your Environment

Same with Windows on Intel server chips and MacOS on AR

[2022-10-19 13:47] simonbasle commented on #2103
a bit of context on #3229 being closed (as discussed off-band): this wasn't likely addressing the right issue or using the right angle.
the `onNextDropped` hook should be single-responsability: a way to track malformed onNext signals. It shouldn't double as a way to discard value, which is a responsability of `onDiscard`. but one issue is that there is no global hook for onDiscard.

so a preferabl

[2022-10-19 13:49] #2980 closed

[2022-10-19 15:23] UgiR commented on #3239
I am able to reproduce this as well (using `.hide()` instead of `.doOnNext(a -> {})` works as well)

[2022-10-19 15:28] OlegDokuka commented on #3235
Looks like an indeed unexpected behavior change. Will roll it back and rework it to keep old expectations

[2022-10-19 15:31] OlegDokuka commented on #3239
@PMacho @UgiR do you mind adding a JMH test that demonstrates the mentioned performance outcome?

[2022-10-19 15:59] UgiR commented on #3239
It's rather rough, but just throwing the example snippet in JMH (and reducing # of groups), I get this:

Without `.hide()`:
[code]

With `.hide()`:
[code]

Test:

[code]

[2022-10-19 16:25] OlegDokuka commented on #3239
oh... `count()`.... then it is clear where the overhead comes from... @UgiR can you check the same with 3.5.0 snapshot or RC1?

[2022-10-19 16:44] UgiR commented on #3239
3.5.0-M6 was the most readily available to me given that I am not on a personal machine, but seems like the relevant change is in there as well, because performance now seems in line:

w/o `hide()`
[code]

w/ `hide()`
[code]

[2022-10-19 21:27] OlegDokuka commented on #3239
@UgiR @PMacho i know where the issue comes from. It is `Operators.MonoSubscriber` (used as a bade class for `MonoCount`) which in case of fusion introduces extra volatile read write (hence significant overhead for simple sync scenario).

As it can be noticed, it is already fixed 🤣 (in 3.5). Although we can consider disabling fusion in 3.4 as well since it brings overhead

cc \@simonbasle @chemicL

[2022-10-20 07:18] PMacho commented on #3239
Sorry, for returning late. Thanks @UgiR  for your work.

[2022-10-20 07:40] OlegDokuka commented on #3239
@PMacho @UgiR feel free to contribute if you have spare time. The contribution should be disabling fusion inside the `MonoSubscriber` class. That is going to be the low-hanging fruit for 3.4.x

[2022-10-21 13:54] #3202 closed

[2022-10-21 14:46] chemicL commented on #3173
The deprecation of restarts is already happening via deprecation of the `start()` method and introduction of `init()` via https://github.com/reactor/reactor-core/issues/3202

[2022-10-21 15:50] simonbasle opened #3244 "Use ContextRegistry.getInstance() in tests"
Since https://github.com/micrometer-metrics/context-propagation/pull/53 one can remove `ThreadLocalAccessor`s from the default context (this is available in snapshots post RC1).

Some of the more direct testing of context-propagation-enabled operators (`contextCapture()`, `handle()` and `tap()`) was previously not practical because this particular feature was missing.

If we can switch to snapshot

[2022-10-21 15:51] simonbasle commented on #3244
follow-up to #3180

[2022-10-22 20:52] unoexperto commented on #951
I just spent 3 hrs trying to debug why I'm getting `SignalType.CANCEL` on exception thrown **upstream**. I wish this behavior was cleaner. It's very very confusing right now.

[2022-10-25 11:51] chemicL commented on #951
@unoexperto Please provide a complete reproducer (that we can run locally) either as an issue if you think you're facing a bug, or as a question on stackoverflow (https://stackoverflow.com/questions/tagged/project-reactor).

[2022-10-25 13:25] pmaria commented on #3177
Any update on this? Or ideas for a possible workaround?

[2022-10-25 16:30] simonbasle opened #3250 "Remove marker key in ContextPropagation / contextCapture()"
Follow-up to #3180. After discussing the implicit restoration feature with @rstoyanchev it appears that adding the requirement that `contextCapture()` is used downstream is too limiting. Notably, advanced users or libraries might want to capture specific threadlocals only, which implies writing their own `Function` for `contextWrite(Function)` rather than using the `contextCapture()` operator. So

[2022-10-26 07:24] OlegDokuka commented on #3177
Hello, @pimlock!
The best option to go for now would be the usage of `Tuple2` instead of `Pair`.

We will get back to this issue once we are done with 3.5 line release

[2022-10-26 08:35] pmaria commented on #3177
@OlegDokuka thanks for the response.

I used `Pair` simply as a reproduction example. My real use case uses different objects.
Could you elaborate on why the usage of `Tuple2` would be a better option? This might help me find a suitable solution on my side.

OK, good to know.

[2022-10-26 08:41] OlegDokuka commented on #3177
In your original post you mentioned that mapping to a different object does not reproduce the leak, thus I suggested to map to tuple (not sure what is your real scenario).

Also, if the scenario you are demonstrating is close enough to the real one, I could suggest replacing flatmap with concatMap, or even if your flatten source is iterable - try to use flatMapIterable. That will not break the beh

[2022-10-26 09:52] pmaria commented on #3177
@OlegDokuka

Ok, I'll try to better describe my actual scenario (still simplified, but hopefully giving a better idea):

I have, potentially, multiple sources.
Per source I have, potentially, multiple source publishers. (For example several queries on the same source).

The source publishers can be created in different ways, currently Flux.fromIterable or Flux.create (with back pressure support).

[2022-10-26 12:41] elrob commented on #2702
I think `takeUntil` or `takeWhile` work in this scenario.

[code]

[2022-10-26 12:53] ntinnemeier opened #3253 "Mono and Flux with onErrorContinue hangs on network errors (thrown by Netty)"
When I use an `onErrorContinue` on a `Mono` or a `Flux` that gets its input from a `WebClient`, the whole chain hangs in case a network error is thrown. I've seen this behaviour with errors caused by a connection timeout, read timeout, unknown host and a refused connection.

Please note that I created this bug in reactor-core, because this is the place where `onErrorContinue` is defined. I suspect

[2022-10-26 13:01] OlegDokuka commented on #3177
@pmaria I think you overcomplicate things with parallel flux. Also, the mentioned use of parallelFlux is inappropriate since you get no benefits in terms of performance (I'm more than sure).

Try to keep it simple as the following:

[code]

You don't need any additional parallelization especially if `Processor::process` is async task

[2022-10-26 14:50] rstoyanchev commented on #3235
@benwiles1, could elaborate on your use case? Granted it is a regression, and that some control should be provided, it's not intuitive that cancel should not be passed on, and it would be useful to have a concrete scenario in mind.

[2022-10-26 15:59] pmaria commented on #3177
@OlegDokuka thanks for engaging.

I did a quick run for a test case with your proposed approach using `Flux.defer` and `Schedulers.parallel()` and and it does increase performance slighty +/- factor 1.5, but interestingly not as much as using `ParallelFlux`. The work done in `Processor::process` is CPU bound, in the sense that it does some transformations on the `Records`.

But I get the sense tha

[2022-10-26 16:00] #3250 closed

[2022-10-26 16:19] OlegDokuka commented on #3177
@pmaria we keep this issue open so it will be investigated once there is more availability! The challenging part here is that it can be correct that memory grows. Parallel allocates 6 queues, every flat map has a queue since parallel flux has flatMap downstream we can multiply the number of queues by 6 as well. Then we have `sequentially` which has a queue under the hood as well. So the memory lea

[2022-10-26 16:38] benwiles1 commented on #3235
I was reusing the same `CompletableFuture` that was saved to a field and just wrapping it in a `Mono` on the fly as needed. I have realized that it probably makes more sense to instead just wrap the future into a mono once and `.cache()` it. (and it probably could be implemented from the ground up without using futures, I just haven't had the time to go back and improve it since getting more exper

[2022-10-27 08:00] PeterJakubik opened #3255 "Flux.create not repeating last value"
Hello
I'm using `Flux.create` to emit values from a different thread.
I want that the last emitted value is repeated 5 times with 1 second delay.

This doesn't seem to work with chaining `Flux.create` with `repeat` and `delay`

## Expected Behavior
The `repeat` operator should be able to repeat emitted values from `Flux.create`

## Steps to Reproduce
[code]

* Reactor version(s) used: reactor-core

[2022-10-27 12:42] chemicL commented on #3255
The `repeat` operator re-subscribes to the original `Flux` upon receiving the completion signal, it does not repeat each `onNext` signal. Probably you are thinking about the following:

    Flux<String> fi = dynFLux.concatMap(i -> Mono.just(i).repeat(5)).delayElements(Duration.ofSeconds(1));

Keep in mind that there is no re-subscription possible with the provided logic, as the sink never receives

[2022-10-27 12:43] #3255 closed

[2022-10-27 13:57] OlegDokuka commented on #3136
[code]

NO FUSION

subscriber call source.subscribe()
source call subscriber.onSubscribe()
subscriber call subscription.requestFusion()
subscriber call subscription.request()
subscription call subscriber.onNext()
subscription call subscriber.onComplete()

ASYNC FUSION
subscriber call source.subscribe()
source call subscriber.onSubscribe()
subscriber call subscription.requestFusion()
subscriber cal

[2022-10-27 16:38] #3239 closed

[2022-10-27 22:28] anenviousguest opened #3257 "Mono created from a Sink.one sporadically turns empty"
In our code, we create a `Sink.one()` whose value is emitted from onSuccess/onError handlers of some other `Mono`. A value being emitted is never `null`.

## Expected Behavior
Expectation is that a mono view of that sink will never be an empty mono, due to value emitted by a sink being non-null.

## Actual Behavior
Contary to our expectation, a Mono view of that sink _sporadically_ turns empty. It

[2022-10-28 09:49] chemicL opened #3258 "Scheduler graceful dispose should share awaitTermination monitoring threads"
With graceful disposal of `Scheduler`s, a monitor thread is started to call `ExecutorService.awaitTermination()`. Each Scheduler, upon a subscribe to `Scheduler#disposeGracefully()` creates a separate `Thread`. There should be a shared pool of such `Thread`s and a smart way to iterate over disposed instances.

The current approach is troublesome in stress tests and sometimes causes OOM issues, e.g

[2022-10-28 10:52] anenviousguest commented on #3257
Looks like `.subscribeOn` might be a culprit. In the test above, if both occurences are commented out, the failure doesn't occur any longer, at least I didn't manage to reproduce it.

[2022-10-28 21:36] anenviousguest commented on #3257
With a debugger, I finally nailed the root cause.

## Why
By the time when [this line](https://github.com/reactor/reactor-core/blob/9547852a0fdc86b22930985d30a6d54448caa6c9/reactor-core/src/main/java/reactor/core/publisher/SinkOneMulticast.java#L62) inside `tryEmitValue` of a sink is about to be run, the sink becomes "terminated" as far as [`add` implementation](https://github.com/reactor/reactor-

[2022-10-28 21:40] UgiR commented on #3257
I was able to reproduce and was about to post something similar!

Essentially, looks like a race between:

https://github.com/reactor/reactor-core/blob/72b78d6ed054a83dc5308fe676f99be31cc8b865/reactor-core/src/main/java/reactor/core/publisher/SinkOneMulticast.java#L57-L62

and:

https://github.com/reactor/reactor-core/blob/72b78d6ed054a83dc5308fe676f99be31cc8b865/reactor-core/src/main/java/reactor

[2022-10-31 17:43] chemicL commented on #3253
Thank you for the report. We analysed it from reactor-netty's perspective with @violetagg and the reproducer without `WebClient` would be the following for the `Mono` case:

	@Test
	public void testWithRNAlone() {
		Mono<String> out = HttpClient.create()
		                             .responseTimeout(Duration.ofMillis(200))
		                             .get()
		                             .uri

[2022-11-02 10:34] ivyazmitinov commented on #2883
Hello, everyone!
Could you, please confirm that the `EmitFailureHandler#busyLooping` is a public stable API and can be used in production? I had to google pretty thoroughly to discover this functionality and it is not documented in the reference docs

[2022-11-02 11:00] cyberpunk2025 opened #3265 "SwitchOnFirst unexpected error log "Operator called default onErrorDropped""
## Expected Behavior
"Operator called default onErrorDropped" should not be printed

## Actual Behavior
"Operator called default onErrorDropped" printed

## Steps to Reproduce
Run below test.

[code]

## Possible Solution
"Operator called default onErrorDropped" error message should not be printed

## Your Environment
* Reactor version(s) used:  reactor-core 3.4.24

[2022-11-02 12:56] simonbasle commented on #2883
@ivyazmitinov yes, this is a public method of a public class, which means it is supported. You need to understand the caveats, and if they don't match your need it is not terribly hard to write your own. See also our [deprecation policy](https://github.com/reactor/.github/blob/main/SUPPORT.adoc#our-policy-on-deprecations)

[2022-11-02 13:21] ivyazmitinov commented on #2883
@simonbasle, great, thanks!
I'll create a PR with documentation for it, if you don't mind

[2022-11-02 23:30] conniey opened #3268 "IllegalStateException using StepVerifier on a Flux with TakeUntilOther"
On upgrading to reactor-core 3.4.24, we noticed that a test is failing.  This test passed using reactor-core 3.4.23.

## Expected Behavior
`IllegalStateException` is not thrown. The program ends normally.

## Actual Behavior

[code]

## Steps to Reproduce

[code]

## Your Environment

* Reactor version(s) used:
  - reactor-core 3.4.24
  - reactor-test 3.4.24

* JVM version (`java -version`): 11
*

[2022-11-03 10:03] #3253 closed

[2022-11-03 10:25] simonbasle commented on #3268
Thanks for the report. This appears to be a regression from #3219 when the _`other`_ subscriber is pre-completed.

[2022-11-03 10:30] simonbasle commented on #3268
a simplified version of the test:
[code]

note also that tests like `FluxTakeUntilOther#takeNone()` would have raised a red flag if they were actually asserting `assertSubscribed()`.

[2022-11-03 11:43] yamass opened #3269 "Mono.fromRunnable() should return a Mono<Void> instead of Mono<T>"
From the source code:
[code]
There is no way that `fromRunnable()` ever returns anything else than a `Mono<Void>`, since Runnable does not have a return type.

The unnecessary generic parameter make it necessary to specify `Void` explicitly when using `fromRunnable()`:

[code]

## Expected Behavior
returns `Mono<Void>`

## Actual Behavior
returns `Mono<T>`

## Steps to Reproduce
see examples

## P

[2022-11-03 15:01] #2827 closed

[2022-11-03 15:37] simonbasle commented on #3265
This is working as intended. Throwing in `doOnCancel` should generally be avoided, but the operator tries to be as transparent as possible and will nonetheless try to propagate the exception downstream.

But `switchOnFirst` has more moving parts: it does detect that its internal publisher (`allNumbers.doOnEach(...).doOnCancel(...)`) and therefore the main sequence are now cancelled. There is no on

[2022-11-03 15:37] #3265 closed

[2022-11-03 15:59] simonbasle commented on #3269
This is an early intention to make such "empty" Monos more composable in complex chains that do have a non-Void type, the same way `Mono.empty()` and `Mono.never()` also are typed. It is less wasteful to assign an (erased) generic type than to force a lot of usages to go through a `cast(T)` operator just for the sake of it, and the fact that it is generified precisely allows the `Mono.<Void>fromRu

[2022-11-03 15:59] #3269 closed

[2022-11-04 09:03] simonbasle commented on #3244
Closed by #3256

[2022-11-04 09:03] #3244 closed

[2022-11-04 16:51] #3258 closed

[2022-11-04 16:57] simonbasle commented on #3235
Fixed by #3272.

[2022-11-04 16:57] #3235 closed

[2022-11-08 08:02] kushagraThapar opened #3275 "Downstream operators override upstream prefetch value"
I am not sure if this is a bug or not, but what I have observed is that downstream operators override prefetch values set in any upstream operators causing them to effectively request high number of records from upstream (sometimes default is 32, sometimes it is 256). What's interesting is that this happens even when I convert this Flux to a lazy iterable and iterate on it using next methods. (whi

[2022-11-08 10:40] violetagg opened #3276 "Test TimedSchedulerTest#workerSchedulePeriodicallyIsCorrectlyMetered() failed while releasing 3.5.0 version"
After a rerun the tests passed:

[code]

[2022-11-08 10:47] violetagg opened #3277 "Adapt shakespear perf benchmark to 3.5.0"
The error below is observed when trying to set `baselinePerfCore = "3.5.0"`:

[code]

[2022-11-08 20:58] defaultbranch opened #3280 "in addition to 'doOnNext', maybe also provide some 'continueWhen' ?"
## Current 'Work-Around'

I am currently using this substitute
(an extension function for some Mono, written in Kotlin):

[code]

This is similar to `doOnNext`, ***but*** will wait for the completion (success/error) of the side effect method within.

## Motivation

- I want to implement workflows where things have to have happened one after the other, and I need to chain/compound asynchronous meth

[2022-11-08 21:32] defaultbranch commented on #3280
paused...

[2022-11-08 21:33] #3280 closed

[2022-11-09 07:01] OlegDokuka commented on #3275
@kushagraThapar what you observe is expected. Every operator likes flatMap / concatMap / switchMap / groupBy / window / buffer / (others where the input parameter is `prefetch` will do extra demand from the upstream regardless of your downstream. To configure their behavior you need to also configure them to prefetch exactly 1 element.

e.g.

[code]

[2022-11-09 07:01] #3275 closed

[2022-11-14 09:05] #3277 closed

[2022-11-15 09:53] kkocel opened #3281 "Migration guide for Schedulers.enableMetrics()"
I noticed that `Schedulers.enableMetrics()` got deprecated but I don't know what I should I do to get all my schedulers metered in a typical use case (using Spring Boot application).

Javadoc suggests using `timedScheduler` but how should it be achieved for Spring Boot?

[2022-11-16 11:26] programmatix opened #3284 "Sinks.One<Void>.tryEmitValue no longer accepts null in 3.5.0"
Calling `tryEmitValue(null)` on a `Sinks.One<Void>` worked without issue in 3.4.24, but in 3.5.0, we can see a NPE:

[code]

The Javadocs for tryEmitValue still indicate that null is a legitimate value:

[code]

The important change may have been in SinkOneMulticast.tryEmitValue.  in 3.4.24 this has special handling for null:

[code]

while in 3.5.0 it doesn't, it just passes the null through:

[c

[2022-11-16 13:41] kkocel commented on #3281
@simonbasle https://stackoverflow.com/questions/74461502/migration-guide-for-schedulers-enablemetrics-in-project-reactor

[2022-11-16 13:41] #3281 closed

[2022-11-16 20:00] mikereiche commented on #3284
This was working in 3.5.0-RC1 but is broken in 3.5.0.  The change is[ 849be9a207958b111ee7a06f4b21596b0122972f.](https://github.com/reactor/reactor-core/commit/849be9a207958b111ee7a06f4b21596b0122972f)
Previously, if value was null, as.complete() was called with no argument.

![Screen Shot 2022-11-16 at 11 59 47 AM](https://user-images.githubusercontent.com/48999328/202282027-2642ca9e-3c10-49ce-81

[2022-11-17 11:51] kkocel opened #3285 "No way to meter Schedulers used internally by Reactor"
Either I'm missing something or by deprecating `Schedulers.enableMetrics()` there is a regression in functionality.

When I played with https://github.com/reactor/reactor-monitoring-demo I noticed that it was possible to meter Schedulers that were used internally by Reactor eg:

[code]

or `boundedElastic` Scheduler that was used to handle incoming requests from netty.

Currently, there is no way

[2022-11-17 13:32] simonbasle commented on #3284
this is actually a regression introduced in the `3.4.x` branch (even though 3.4.25 was exceptionally released _after_ 3.5.0).
re-targeting this for 3.4.26, which will be forward-merged to 3.5.1 as well

[2022-11-17 14:26] OlegDokuka opened #3286 "`doAfterSubscribe` operator similar to `doFirst`"
@simonbasle

[2022-11-17 15:18] simonbasle commented on #3284
Regression introduced in #3260

[2022-11-17 15:20] simonbasle commented on #3284
simplest workaround:
[code]

[2022-11-17 16:51] OlegDokuka commented on #3285
what we need to do here, we need to port `SchedulerMetricDecorator` to the new metrics module. @kkocel feel free to contribute

[2022-11-17 17:48] simonbasle commented on #3285
even though @kkocel [question on StackOverflow](https://stackoverflow.com/q/74461502/1113486) is Spring Boot-oriented, the `Factory` described in [my answer](https://stackoverflow.com/a/74461554/1113486) is pure Reactor code, so it could be used directly with `Schedulers.setFactory(...)`.

[2022-11-17 18:38] kkocel commented on #3285
Maybe utilized version of this factory could be part of monitoring module WDYT @simonbasle  ?

[2022-11-17 18:56] dnault commented on #3284
Thank you for jumping on this so quickly, @simonbasle

[2022-11-18 17:50] datbui commented on #3177
following. Very interesting

[2022-11-21 10:09] mcoolive opened #3295 "FluxIterable may call iterator twice, that may break constrainOnce contract of Kotlin Sequence"
FluxIterable may call `iterator` method twice. I don't think it is forbidden, but it seams a poor practice because of performance and/or possible side effects. Use with Kotlin Sequence, it may cause an IllegalStateException: This sequence can be consumed only once.

## Expected Behavior

The following code throws an IllegalStateException. I expect the flux is consumed without any exception.

    l

[2022-11-21 13:50] OlegDokuka commented on #3295
I'm not sure we can guarantee `constrainOnce` since the same flux can be subscribed twice, but we definitely can improve the mentioned code

[2022-11-23 10:20] janvojt commented on #3012
Just a heads up - the workaround replacement is much slower. For my use case `windowUntilChanged` + `concatMap` was roughly 5-6 times slower than `bufferUntilChanged` (in the cases when it did not crash obviously..).

[2022-11-24 15:55] OlegDokuka commented on #3012
@janvojt

that is expected, you have more overhead with the new guarantees

[2022-11-25 08:09] JamesChenX opened #3299 "Is there a commitment to ensure that `MicrometerMeterListenerFactory` is reusable/cacheable?"
## Documentation Issue

The return value `MicrometerMeterListenerFactory` of `reactor.core.observability.micrometer.Micrometer#metrics` seems reusable or cacheable, meaning it can be used for multiple `Flux` or `Mono` instances.

But there is no commitment on docs saying it's always reusable or not.

## Improvement Suggestion

The documentation should better mention `MicrometerMeterListenerFactory

[2022-11-25 17:40] claszz commented on #2117
@bsideup
I am also facing same issue. Just wanted to clarify what do you mean by "you can 'cache' the result of the iterator() call"
`Iterator<T> iterator = cursor.iterator();
return Flux.fromIterable(() -> iterator)`

Does this will iterator over Ignite cursor first and load all data into memory and then pass result on to Flux or it will in-directly invoke ignite cursor and works in reactive way,

[2022-11-28 09:39] chemicL commented on #3295
This issue has been raised in the past: #3297 BTW (linking)

[2022-11-28 09:39] chemicL commented on #2117
The situation should improve with #3297 improvements by @OlegDokuka

[2022-11-28 10:41] #3295 closed

[2022-11-29 18:04] alopukhov opened #3302 "Documentation on Mono#usingWhen should explain exception wrapping."
Javadoc on Mono#usingWhen should explain exception wrapping for various cases.

## Documentation Issue
[Mono#usingWhen](https://projectreactor.io/docs/core/3.4.25/api/reactor/core/publisher/Mono.html#usingWhen-org.reactivestreams.Publisher-java.util.function.Function-java.util.function.Function-) states:

It should explain that downstream receives wrapped exception in such case.

## Improvement Su

[2022-11-30 13:53] OlegDokuka commented on #3302
@alopukhov thanks for reporting. Feel free to contribute and improve javadocs!